<!-- views/partials/text-styling-toolbar.ejs -->
<div class="text-styling-toolbar">
  <div class="toolbar-group">
    <button type="button" class="toolbar-btn" data-style="h1">H1</button>
    <button type="button" class="toolbar-btn" data-style="h2">H2</button>
    <button type="button" class="toolbar-btn" data-style="h3">H3</button>
  </div>
  
  <div class="toolbar-group">
    <button type="button" class="toolbar-btn" data-style="bold"><i class="ph-duotone ph-text-b"></i></button>
    <button type="button" class="toolbar-btn" data-style="italic"><i class="ph-duotone ph-text-italic"></i></button>
    <button type="button" class="toolbar-btn" data-style="underline"><i class="ph-duotone ph-text-underline"></i></button>
    <button type="button" class="toolbar-btn" data-style="strikethrough"><i class="ph-duotone ph-text-strikethrough"></i></button>
  </div>
  
  <div class="toolbar-group">
    <button type="button" class="toolbar-btn" data-style="text-center"><i class="ph-duotone ph-text-align-center"></i></button>
    <button type="button" class="toolbar-btn" data-style="text-right"><i class="ph-duotone ph-text-align-right"></i></button>
    <button type="button" class="toolbar-btn" data-style="text-left"><i class="ph-duotone ph-text-align-left"></i></i></button>
  </div>
  
  <div class="toolbar-group">
    <button type="button" class="toolbar-btn color-btn" data-style="color-primary" style="color: var(--header);">A</button>
    <button type="button" class="toolbar-btn color-btn" data-style="color-success" style="color: var(--success);">A</button>
    <button type="button" class="toolbar-btn color-btn" data-style="color-danger" style="color: var(--danger);">A</button>
    <button type="button" class="toolbar-btn color-btn" data-style="color-warning" style="color: var(--warning);">A</button>
  </div>
  
  <div class="toolbar-group">
    <button type="button" class="toolbar-btn" data-style="gradient-text">Gradient</button>
    <button type="button" class="toolbar-btn" data-style="quote"><i class="ph-duotone ph-quotes"></i></button>
    <button type="button" class="toolbar-btn" data-style="divider"><i class="ph-duotone ph-minus"></i></button>
  </div>
</div>